<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lady Developer</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="../static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="../static//cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Ana.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="../static//cloud.png" alt="cloud">
    <img class="mountain" src="../static//mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="me" src="../static/ana.png" alt="ana-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a Python Developer and mother of a sassy Bulldogge. ❤️</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started to really learning to code after my 30's. Prior to this age I tried so many times without success. Most of my failures are 
          result of how I felt while learning to code. My feelings fluctuated between it is too hard or too boring. Well it is still boring sometimes, specially when it
          comes to read the docs.😅😅😅.. About being hard, it is hard sometimes..or most of the time..🤫
        I guess you can say that I accept it and started enjoying the drama.🤪</p>

      </div>

    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="#">LinkedIn</a>
    <a class="footer-link" href="#">Twitter</a>
    <a class="footer-link" href="#">Website</a>
    <p class="copyright">© 2021 Lady Developer</p>
  </div>
</body>

</html>
